/* Минимальный reset */
*,*::before,*::after { box-sizing: border-box; }
html,body { margin:0; padding:0; }
body { line-height:1.5; font-family: "Inter", system-ui, sans-serif; }
a { color:inherit; text-decoration:none; }
ul,li { list-style:none; margin:0; padding:0; }
